doctype html
html(lang="en")
  head
    title= htmlWebpackPlugin.options.title
  body
    .container
      h1= htmlWebpackPlugin.options.title
    .container
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
